This plugin offers a convenient way to copy the location of the caret in a file and in a class, so it is easy to share the position with others.<br>
The location can then be pasted in the <i>file search</i> and <i>class search</i> dialog of the IDE.<br><br>

<b>Usage</b><br>
You can invoke the copy actions via
<ul>
    <li>Context Menu in Editor > Copy / Paste Special > Copy Caret Location in File</li>
    <li>Context Menu in Editor > Copy / Paste Special > Copy Caret Location in Class</li>
</ul>

<br>
The location in a file will be copied like:
<br>
path/to/file.txt:13:37

<br>
<br>
The location in a class will be copied like:
<br>
com.package.to.class:4:2
<br>
This is only available for Java and Kotlin classes.
